@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import "reset.css";
@import "landing-page/header.css";
@import "landing-page/top-jumbo.css";
@import "landing-page/design-by.css";
@import "landing-page/color-collection.css";
@import "landing-page/blueprint.css";
@import "landing-page/latest.css";
@import "landing-page/footer.css";

/*
FEA83B orange
6066F2 light-blue
B286F8 purple
4C44C1 blue
E6cDF9 light-purple
f6f6f6 light gray
cecece dark gray

*/
*{
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}
.container-fluid {
  margin: 0 5%;
  padding: 0 20px;
}

.box-shadow-down {
  -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.3);
}

.box-shadow-center {
  -webkit-box-shadow: 0px 0px 65px 13px rgba(158, 158, 158, 0.2);
  -moz-box-shadow: 0px 0px 65px 13px rgba(158, 158, 158, 0.2);
  box-shadow: 0px 0px 65px 13px rgba(158, 158, 158, 0.2);
}

input::placeholder {
  color: #cecece;
}

/* LAPTOPS */
@media only screen and (max-width: 1215px) {
}

/* TABLETS */
@media only screen and (max-width: 1023px) {
}

/* MOBILE DEVICES */
@media only screen and (max-width: 768px) {
}
