#blueprint {
  padding: 170px 0;
  color: white;
  background: rgb(96, 102, 242);
  background: linear-gradient(
    322deg,
    rgba(96, 102, 242, 1) 0%,
    rgba(16, 11, 97, 1) 100%
  );
}

#blueprint:after {
  content: "";
  display: table;
  clear: both;
}
#blueprint .left-side {
  width: 60%;
  float: left;
}

#blueprint .left-side img {
  width: 100%;
}

#blueprint .right-side {
  width: 40%;
  float: left;
}

#blueprint .right-side h1 {
  font-size: 4rem;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 70px;
  line-height: 1.2;
}

#blueprint .right-side .info-box {
  padding: 0 0 80px;
}

#blueprint .right-side .info-box:after {
  content: "";
  display: table;
  clear: both;
}

#blueprint .right-side .info-box .col-1 {
  width: 40%;
  float: left;
}

#blueprint .right-side .info-box .col-1 .icon-container {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 5px solid white;
  position: relative;
}

#blueprint .right-side .info-box .col-1 .icon-container .dashed-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px dashed #fea83b;
  margin: 0 auto;
  top: 10px;
  left: 10px;
  position: absolute;
}

#blueprint .right-side .info-box .col-1 .icon-container .fab,
#blueprint .right-side .info-box .col-1 .icon-container .fas {
  font-size: 4.5rem;
  top: 40px;
  left: 50px;
  position: absolute;
}

#blueprint .right-side .info-box .col-2 {
  width: 60%;
  float: left;
}

#blueprint .right-side .info-box .col-2 h3 {
  font-size: 2rem;
  margin-bottom: 25px;
  margin-top: 27px;
}

#blueprint .right-side .info-box .col-2 p {
  font-size: 1rem;
  margin-bottom: 15px;
  line-height: 1.5;
}

#blueprint .right-side .info-box .col-2 a {
  font-size: 1rem;
  text-decoration: none;
  text-transform: capitalize;
  margin-bottom: 15px;
  color: #fea83b;
  font-weight: 700;
}

/* LAPTOPS */
@media only screen and (max-width: 1215px) {
}

/* TABLETS */
@media only screen and (max-width: 1023px) {
  #blueprint .left-side {
    width: 40%;
  }

  #blueprint .right-side {
    width: 60%;
  }

  #blueprint {
    padding: 100px 0;
  }

  #blueprint .right-side h1 {
    font-size: 2.9rem;
    text-align: center;
  }

  #blueprint .right-side .info-box .col-1 {
    width: 40%;
    float: left;
    text-align: center;
  }

  #blueprint .right-side .info-box .col-1 .icon-container {
    width: 120px;
    height: 120px;
    margin: 20px auto 0;
  }

  #color-collection .right-side .swatch-area {
    background: white;
    padding: 12px 18px;
    display: inline-block;
    border-radius: 45px;
    margin-bottom: 40px;
  }

  #blueprint .right-side .info-box .col-1 .icon-container .dashed-circle {
    width: 90px;
    height: 90px;
  }

  #blueprint .right-side .info-box .col-1 .icon-container .fab,
  #blueprint .right-side .info-box .col-1 .icon-container .fas {
    font-size: 3rem;
    top: 30px;
    left: 40px;
    position: absolute;
  }
}

/* MOBILE DEVICES */
@media only screen and (max-width: 767px) {
  #blueprint {
    padding: 100px 0;
  }

  #blueprint img {
    display: none;
  }

  #blueprint .right-side h1 {
    font-size: 2.9rem;
    text-align: center;
  }

  #blueprint .right-side .info-box .col-1 {
    width: 40%;
    float: left;
    text-align: center;
  }

  #blueprint .right-side .info-box .col-2 {
    width: 60%;
    float: left;
  }

  #blueprint .right-side .info-box .col-1 .icon-container {
    width: 120px;
    height: 120px;
    margin: 20px auto 0;
  }

  #blueprint .right-side .info-box .col-1 .icon-container .dashed-circle {
    width: 90px;
    height: 90px;
  }

  #blueprint .right-side .info-box .col-1 .icon-container .fab,
  #blueprint .right-side .info-box .col-1 .icon-container .fas {
    font-size: 3rem;
    top: 30px;
    left: 40px;
    position: absolute;
  }

  #blueprint .left-side {
    width: 100%;
  }

  #blueprint .right-side {
    width: 100%;
  }
}

/* IPHONE 7 (vertical) */
@media only screen and (max-width: 375px) {
  #blueprint .right-side .info-box .col-1 {
    width: 100%;
    float: left;
    text-align: center;
  }

  #blueprint .right-side .info-box .col-2 {
    width: 100%;
    float: left;
    /* text-align: center; */
  }
  #blueprint .right-side .info-box .col-2 h3 {
    font-size: 1.9rem;
    margin-bottom: 25px;
    margin-top: 27px;
  }
}

/* IPHONE 5 (landcape) */
@media only screen and (max-width: 568px) {
  #blueprint .right-side .info-box .col-1 {
    width: 50%;
    float: left;
    text-align: center;
  }

  #blueprint .right-side .info-box .col-2 {
    width: 50%;
    float: left;
  }
}

/* IPHONE 5 (vertical) */
@media only screen and (max-width: 320px) {
  #blueprint .right-side .info-box .col-1 {
    width: 100%;
    float: none;
    text-align: center;
  }

  #blueprint .right-side .info-box .col-2 {
    width: 100%;
    float: none;
    text-align: center;
  }

  #blueprint .right-side .info-box .col-1 .icon-container {
    width: 120px;
    height: 120px;
    margin: 20px auto 0;
  }

  #blueprint .right-side .info-box .col-1 .icon-container .dashed-circle {
    width: 90px;
    height: 90px;
  }

  #blueprint .right-side .info-box .col-1 .icon-container .fab,
  #blueprint .right-side .info-box .col-1 .icon-container .fas {
    font-size: 3rem;
    top: 30px;
    left: 40px;
    position: absolute;
  }
}
