#design-by {
  position: relative;
  top: -200px;
}

#design-by .design-container {
  /* position: absolute; */
  position: relative;
  background: white;
  overflow: hidden;
  border-radius: 5px;
}

#design-by .design-container .bg-container {
  /* position: absolute; */
  position: relative;
  background: #6066f2;
  overflow: hidden;
  padding: 45px;
}

#design-by .design-container:after {
  content: "";
  display: table;
  clear: both;
}

#design-by .design-container .bg-image {
  /* position: absolute; */
  position: absolute;
  width: 600px;
  z-index: 1;
  opacity: 0.3;
  right: 0;
  top: -100px;
  right: -200px;
}

#design-by .design-container .info-section {
  width: 40%;
  display: inline-block;
  float: left;
  /* padding: 45px; */
}

#design-by .design-container .info-section h5 {
  color: #fea83b;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  position: relative;
  z-index: 2;
}

#design-by .design-container .info-section h3 {
  color: white;
  font-size: 2.7rem;
  margin-bottom: 2rem;
  position: relative;
  z-index: 2;
}

#design-by .design-container .info-section .info-list {
  margin-bottom: 4rem;
  position: relative;
  z-index: 2;
}

#design-by .design-container .info-section .info-list li {
  list-style: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 14.5px;
  vertical-align: top;
}

#design-by .design-container .info-section .info-list li .check {
  background: #fea83b;
  margin-right: 10px;
  display: inline-block;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  position: relative;
  top: 7px;
}

#design-by .design-container .info-section .info-list li .check .fas {
  position: absolute;
  top: 6px;
  left: 5px;
}

#design-by .design-container .info-section .white-btn {
  background: white;
  border-radius: 35px;
  padding: 20px 65px;
  text-decoration: none;
  text-transform: uppercase;
  color: #6066f2;
  font-weight: 700;
  font-size: 1rem;
  display: inline-block;
  position: relative;
  z-index: 2;
}

#design-by .design-container .icon-section {
  width: 60%;
  background: white;
  display: inline-block;
  float: left;
  position: relative;
}

#design-by .design-container .icon-section .refresh-circle {
  position: absolute;
  left: 45%;
  top: 40%;
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
}

#design-by .design-container .icon-section .refresh-circle .fas {
  position: relative;
  color: #fea83b;
  font-size: 2.5rem;
  top: 20px;
  left: 20px;
}

#design-by .design-container .icon-section .icon-box {
  width: 50%;
  height: 226px;
  display: inline-block;
  float: left;
  text-align: center;
  border: 1px solid #f6f6f6;
  color: #6066f2;
  font-size: 1.3rem;
}

#design-by .design-container .icon-section .icon-box .fas,
#design-by .design-container .icon-section .icon-box .far {
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 61px;
}

/* LAPTOPS */
@media only screen and (max-width: 1215px) {
  #design-by .design-container .info-section .info-list li {
    line-height: 2;
  }
}

/* TABLETS */
@media only screen and (max-width: 1023px) {
  #design-by .design-container .info-section {
    width: 50%;
  }

  #design-by .design-container .icon-section {
    width: 50%;
  }

  #design-by .design-container .icon-section .icon-box {
    height: 213px;
  }

  #design-by .design-container .icon-section .refresh-circle {
    left: 41%;
  }

  #design-by .design-container .bg-container {
    padding: 20px;
  }

  #design-by .design-container .info-section .info-list li {
    line-height: 2;
  }
  @media only screen and (max-width: 833px) {
    #design-by .design-container .icon-section .refresh-circle {
      left: 41%;
    }
  }
}

/* MOBILE DEVICES */
@media only screen and (max-width: 767px) {
  #design-by .design-container .info-section {
    width: 100%;
  }

  #design-by .design-container .icon-section {
    width: 100%;
  }

  #design-by .design-container .icon-section .refresh-circle {
    display: none;
  }

  #design-by .design-container .bg-container {
    padding: 20px;
  }

  #design-by .design-container .info-section .info-list li {
    line-height: 2;
  }
}
