#latest {
  padding: 50px 0;
}

#latest .header {
  padding: 50px 0;
}

#latest .header:after {
  content: "";
  display: table;
  clear: both;
}

#latest .header h1 {
  color: #6066f2;
  font-size: 4.2rem;
  max-width: 400px;
  width: 100%;
  float: left;
  display: inline-block;
}

#latest .header .directions {
  float: right;
  display: inline-block;
  position: relative;
  top: 35px;
}
#latest .header .directions .move-left {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  float: left;
  padding: 20px 70px;
  font-size: 3rem;
  background: #6066f2;
  color: white;
  border: 1px solid white;
}

#latest .header .directions .move-right {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  float: right;
  padding: 20px 70px;
  font-size: 3rem;
  background: white;
  color: #cecece;
  border: 1px solid #cecece;
}

#latest .body {
  padding: 100px 0;
}

#latest .body:after {
  content: "";
  display: table;
  clear: both;
}

#latest .body .column {
  width: 33.33%;
  float: left;
  padding: 15px;
  text-align: center;
}

#latest .body .column:nth-child(1) .bg-square {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  background: #8cd4b3;
  background: -webkit-linear-gradient(bottom left, #9dddc4, #01703a);
  background: -moz-linear-gradient(bottom left, #9dddc4, #01703a);
  background: linear-gradient(to top right, #9dddc4, #01703a);
}

#latest .body .column:nth-child(2) .bg-square {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  background: #636a6f;
  background: -webkit-linear-gradient(top right, #636a6f, #ac5454);
  background: -moz-linear-gradient(top right, #636a6f, #ac5454);
  background: linear-gradient(to bottom left, #636a6f, #ac5454);
}

#latest .body .column:nth-child(3) .bg-square {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  background: #6066af;
  background: -webkit-linear-gradient(top right, #6066af, #1d7784);
  background: -moz-linear-gradient(top right, #6066af, #1d7784);
  background: linear-gradient(to bottom left, #6066af, #1d7784);
}

#latest .body .column:nth-child(1) .bg-square img {
  width: 75%;
  position: absolute;
  top: -16%;
  left: 13%;
  z-index: 1;
}

#latest .body .column:nth-child(2) .bg-square img {
  width: 110%;
  position: absolute;
  top: -19%;
  left: -8%;
  z-index: 1;
}

#latest .body .column:nth-child(3) .bg-square img {
  width: 75%;
  position: absolute;
  top: -16%;
  left: 13%;
  z-index: 1;
}

#latest .body .column:nth-child(1) .bg-square .cart {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  border: 10px solid white;
  position: absolute;
  top: -47px;
  right: -47px;
  color: white;
  background: #6066af;
  background: -webkit-radial-gradient(center, #01703a, #9dddc4);
  background: -moz-radial-gradient(center, #01703a, #9dddc4);
  background: radial-gradient(ellipse at center, #01703a, #9dddc4);
}

#latest .body .column:nth-child(2) .bg-square .cart {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  border: 10px solid white;
  position: absolute;
  top: -47px;
  right: -47px;
  color: white;
  background: #6066af;
  background: -webkit-radial-gradient(center, #ac5454, #636a6f);
  background: -moz-radial-gradient(center, #ac5454, #636a6f);
  background: radial-gradient(ellipse at center, #ac5454, #636a6f);
}

#latest .body .column:nth-child(3) .bg-square .cart {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  border: 10px solid white;
  position: absolute;
  top: -47px;
  right: -47px;
  color: white;
  background: #6066af;
  background: -webkit-radial-gradient(center, #6066af, #1d7784);
  background: -moz-radial-gradient(center, #6066af, #1d7784);
  background: radial-gradient(ellipse at center, #6066af, #1d7784);
}

#latest .body .column .bg-square .cart .fas {
  font-size: 2rem;
  position: relative;
  top: 22px;
  left: -1px;
}

#latest .body .column .line {
  width: 20%;
  height: 2px;
  background: #6066f2;
  margin: 50px auto 30px;
  display: inline-block;
}

#latest .body .column .price {
  color: #fea83b;
  font-size: 2.3rem;
  font-weight: 700;
  top: -12px;
}

#latest .footer {
  text-align: center;
  position: relative;
}

#latest .footer img {
  width: 40%;
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 30%;
  filter: grayscale(100%) invert(100%);
  opacity: 0.07;
  transform: rotate(37deg);
}

#latest .footer .info-box {
  position: relative;
  z-index: 2;
  padding: 200px 0;
}

#latest .footer .info-box h2 {
  color: #6066f2;
  font-size: 4rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 60px;
}

#latest .footer .info-box form {
  vertical-align: top;
  display: inline-block;
  margin: 0 auto;
}

#latest .footer .info-box .input-area {
  background: white;
  border-radius: 35px;
  display: inline-block;
  padding: 10px;
  float: left;
}

#latest .footer .info-box .input-area .far {
  font-size: 2rem;
  position: relative;
  top: 7px;
  margin-left: 15px;
}

#latest .footer .info-box .input-area .far,
#latest .footer .info-box .input-area .fas {
  color: #cecece;
}

#latest .footer .info-box .input-area:nth-child(1) {
  height: 80px;
  margin-right: 50px;
}

#latest .footer .info-box .input-area:nth-child(1) input {
  position: relative;
  top: 10px;
}

#latest .footer .info-box .input-area:nth-child(1) .fas {
  position: relative;
  top: 14px;
  font-size: 1.5rem;
  margin-left: 15px;
}

#latest .footer .info-box .input-area input {
  background: white;
  color: white;
  border-style: none;
  padding: 10px;
  text-transform: uppercase;
  font-size: 1rem;
  width: 230px;
}

#latest .footer .info-box .input-area button {
  background: #6066f2;
  color: white;
  border: none;
  padding: 20px 50px;
  border-radius: 35px;
  text-transform: uppercase;
  font-size: 1rem;
}

/* LAPTOPS */
@media only screen and (max-width: 1215px) {
}

/* TABLETS */

@media only screen and (max-width: 1024px) {
  #latest .body .column {
    width: 50%;
    margin-bottom: 150px;
  }
  #latest .header .directions {
    top: 18px;
  }

  #latest .footer img {
    width: 50%;
    z-index: 1;
    position: absolute;
    top: 100px;
    left: 30%;
    filter: grayscale(100%) invert(100%);
    opacity: 0.07;
    transform: rotate(37deg);
  }

  #latest .footer .info-box .input-area:nth-child(1) input[name="name"] {
    text-align: center;
    margin: 0;
    float: none;
  }

  #latest .footer .info-box .input-area input[name="email"] {
    text-align: center;
  }
}

@media only screen and (max-width: 1023px) {
  #latest .header {
    text-align: center;
  }

  #latest .header h1 {
    font-size: 3.5rem;
    text-align: center;
    width: 100%;
    max-width: none;
  }

  #latest .header .directions {
    display: inline-block;
    float: none;
    position: static;
    margin: 50px auto;
    top: 0;
  }

  #latest .body .column {
    width: 50%;
    margin-bottom: 150px;
  }

  #latest .footer .info-box .input-area .fas {
    font-size: 2rem;
    position: relative;
    top: 7px;
    margin-left: 15px;
    color: #cecece;
    float: left;
  }

  #latest .footer img {
    width: 50%;
    z-index: 1;
    position: absolute;
    top: 100px;
    left: 30%;
    filter: grayscale(100%) invert(100%);
    opacity: 0.07;
    transform: rotate(37deg);
  }

  #latest .footer .info-box .input-area:nth-child(1) {
    margin: 0;
    width: 100%;
    margin-bottom: 50px;
  }

  #latest .footer .info-box .input-area:nth-child(2) {
    width: 100%;
    margin: 0;
  }

  #latest .footer .info-box .input-area:nth-child(1) input[name="name"] {
    text-align: center;
    margin-left: -21%;
  }

  #latest .footer .info-box .input-area input[name="email"] {
    width: 70%;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  #latest .footer img {
    width: 80%;
    z-index: 1;
    position: absolute;
    top: 100px;
    left: 15%;
    filter: grayscale(100%) invert(100%);
    opacity: 0.07;
    transform: rotate(37deg);
  }
}

/* MOBILE DEVICES */
@media only screen and (max-width: 767px) {
  #latest .header {
    text-align: center;
  }

  #latest .header h1 {
    font-size: 3rem;
    text-align: center;
    width: 100%;
    max-width: none;
  }

  #latest .header .directions {
    display: inline-block;
    float: none;
    position: static;
    margin: 50px auto;
    top: 0;
  }

  #latest .body .column {
    width: 100%;
    margin-bottom: 150px;
  }

  #latest .body .column:nth-child(1) .bg-square {
    transform: scale(0.9);
  }

  #latest .body .column:nth-child(2) .bg-square {
    transform: scale(0.9);
  }

  #latest .body .column:nth-child(3) .bg-square {
    transform: scale(0.9);
  }

  #latest .footer img {
    width: 80%;
    z-index: 1;
    position: absolute;
    top: 100px;
    left: 10%;
    filter: grayscale(100%) invert(100%);
    opacity: 0.07;
    transform: rotate(37deg);
  }

  #latest .footer .info-box .input-area .far {
    font-size: 2rem;
    position: relative;
    top: 7px;
    margin-left: 15px;
    color: #cecece;
  }

  #latest .footer .info-box .input-area:nth-child(1) .fas {
    position: relative;
    top: 14px;
    font-size: 1.5rem;
    margin-left: 20px;
  }

  #latest .footer .info-box .input-area input[name="email"] {
    width: 70%;
    text-align: center;
  }

  #latest .footer .info-box .input-area:nth-child(1) {
    margin: 0;
    width: 100%;
    margin-bottom: 50px;
  }

  #latest .footer .info-box .input-area:nth-child(2) {
    width: 100%;
    margin: 0;
  }

  #latest .footer .info-box .input-area button {
    background: #6066f2;
    color: white;
    border: none;
    padding: 20px 50px;
    border-radius: 35px;
    text-transform: uppercase;
    font-size: 1rem;
  }
}

/* IPHONE 7 (landscape) */

@media only screen and (max-width: 667px) {
  #latest .footer img {
    width: 100%;
    top: 100px;
  }

  #latest .footer .info-box .input-area input[name="email"] {
    background: white;
    color: #aaacaf;
    border-style: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 1rem;
    width: 66%;
    text-align: center;
  }
}

/* IPHONE 5 (landscape) */

@media only screen and (max-width: 568px) {
  #latest .body .column {
    transform: scale(0.8);
    /* left: -25px; */
    width: 100%;
  }

  #latest .footer .info-box .input-area input[name="email"] {
    background: white;
    color: #aaacaf;
    border-style: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 1rem;
    width: 36%;
    text-align: center;
  }
}

/* IPHONE 7 (vertical) */
@media only screen and (max-width: 375px) {
  #latest .footer img {
    width: 100%;
    top: 230px;
  }

  #latest .footer .info-box h2 {
    line-height: 1.1;
  }

  #latest .footer .info-box .input-area:nth-child(1) input[name="name"] {
    text-align: center;
    width: 50%;
  }

  #latest .footer .info-box .input-area input[name="email"] {
    width: 35%;
    text-align: center;
  }
}

/* IPHONE 5 (vertical) */
@media only screen and (max-width: 320px) {
  #latest .body {
    padding: 0;
  }
  #latest .header h1 {
    font-size: 2.8rem;
  }

  #latest .header .directions {
    margin: 50px -20px;
    transform: scale(0.9);
  }

  #latest .body .column {
    transform: scale(0.7);
    left: -25px;
    margin: 25px 0;
    width: 100%;
  }

  #latest .body .column .bg-square {
    text-align: center;
    left: -25px;
  }

  #latest .footer .info-box h2 {
    line-height: 1.1;
    font-size: 2.3rem;
  }

  #latest .footer .info-box .input-area {
    height: 204px;
  }
  #latest .footer .info-box .input-area:nth-child(1) {
    height: 137px;
    margin-right: 50px;
  }

  #latest .footer .info-box .input-area .fas {
    font-size: 2rem;
    /* position: relative; */
    top: 7px;
    margin-left: 15px;
    color: #cecece;
    float: none;
    text-align: center;
    margin-left: 29%;
    left: -14%;
    margin-bottom: 25px;
  }

  #latest .footer .info-box .input-area:nth-child(1) .fas {
    position: relative;
    top: 14px;
    font-size: 1.5rem;
    margin-left: 70px;
  }

  #latest .footer .info-box .input-area:nth-child(1) input[name="name"] {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  #latest .footer .info-box .input-area .far {
    font-size: 2rem;
    position: relative;
    top: 7px;
    margin-left: 0;
    color: #cecece;
    text-align: center;
  }

  #latest .footer .info-box .input-area input[name="email"] {
    /* width: 35%; */
    text-align: center;
    width: 100%;
    margin: 25px 0 10px;
  }

  #latest .footer .info-box .input-area button {
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    background: rgb(96, 102, 242);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 20px 50px;
    border-radius: 35px;
  }
}
