#top-jumbo {
  padding: 0px 0 400px;
  background: #fff9f9; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #fff9f9 1%,
    #fff9f9 28%,
    #fff9f9 35%,
    #fff9f9 35%,
    #8948f2 75%,
    #f2a2d0 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #fff9f9 1%,
    #fff9f9 28%,
    #fff9f9 35%,
    #fff9f9 35%,
    #8948f2 75%,
    #f2a2d0 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #fff9f9 1%,
    #fff9f9 28%,
    #fff9f9 35%,
    #fff9f9 35%,
    #8948f2 75%,
    #f2a2d0 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#top-jumbo:after {
  content: "";
  display: table;
  clear: both;
}

#top-jumbo .left-side {
  width: 40%;
  display: inline-block;
  float: left;
}

#top-jumbo .left-side .large-number {
  font-weight: 700;
  font-size: 300px;
  opacity: 0.05;
  color: #4c44c1;
  position: relative;
  left: -20px;
  z-index: 1;
  top: 0px;
}

#top-jumbo .left-side .info-container {
  position: relative;
  top: -100px;
}

#top-jumbo .left-side .info-container h1 {
  color: #6066f2;
  font-size: 4.5rem;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  line-height: 1.1;
}

#top-jumbo .left-side .info-container p {
  color: #aaacaf;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: none;
  line-height: 1.8;
  margin-bottom: 1.5rem;
}

#top-jumbo .left-side .info-container .email-area {
  background: white;
  border-radius: 35px;
  display: inline-block;
  padding: 10px;
}

#top-jumbo .left-side .info-container .email-area .far {
  font-size: 2rem;
  position: relative;
  top: 7px;
  margin-left: 15px;
  color: #cecece;
}
#top-jumbo .left-side .info-container .email-area input[name="email"] {
  background: white;
  color: #aaacaf;
  border-style: none;
  padding: 10px;
  text-transform: none;
  font-size: 1rem;
  width: 230px;
}

#top-jumbo .left-side .info-container .email-area button {
  background: #6066f2;
  color: white;
  border: none;
  padding: 20px 50px;
  border-radius: 35px;
  text-transform: uppercase;
  font-size: 1rem;
}

#top-jumbo .right-side {
  width: 60%;
  display: inline-block;
  float: left;
  padding: 0 40px;
}

#top-jumbo .right-side img {
  width: 100%;
}

/* LAPTOPS */
@media only screen and (max-width: 1215px) {
  #top-jumbo .left-side .info-container .email-area {
    width: 100%;
    float: left;
  }

  #top-jumbo .left-side .info-container .email-area .far {
    position: relative;
    top: 14px;
    margin-left: 0;
    float: left;
    width: 15%;
    text-align: center;
  }

  #top-jumbo .left-side .info-container .email-area input[name="email"] {
    width: 50%;
    float: left;
    position: relative;
    top: 10px;
    text-align: center;
    font-size: 1rem;
  }

  #top-jumbo .left-side .info-container .email-area button {
    width: 35%;
    padding: 20px 30px;
  }
}

/* TABLETS */
@media only screen and (max-width: 1023px) {
  #top-jumbo {
    padding: 0px 0 300px;
  }

  #top-jumbo .left-side {
    width: 40%;
  }

  #top-jumbo .left-side .large-number {
    font-size: 250px;
  }

  #top-jumbo .left-side .info-container h1 {
    font-size: 3.5rem;
  }

  #top-jumbo .left-side .info-container p {
    font-size: 1.2rem;
  }

  #top-jumbo .left-side .info-container .email-area {
    width: 100%;
    float: left;
  }

  #top-jumbo .left-side .info-container .email-area .far {
    position: relative;
    top: 14px;
    margin-left: 0;
    float: left;
    width: 15%;
    text-align: center;
  }

  #top-jumbo .left-side .info-container .email-area input[name="email"] {
    width: 50%;
    float: left;
    position: relative;
    top: 10px;
    text-align: center;
    font-size: 1rem;
  }

  #top-jumbo .left-side .info-container .email-area button {
    width: 35%;
    padding: 20px 30px;
  }

  #top-jumbo .right-side {
    width: 60%;
  }

  #top-jumbo .right-side img {
    position: relative;
    top: 78px;
  }
}

/* MOBILE DEVICES */
@media only screen and (max-width: 767px) {
  #top-jumbo {
    padding: 0px 0 300px;
  }

  #top-jumbo .left-side {
    width: 100%;
  }

  #top-jumbo .left-side .large-number {
    font-size: 250px;
  }

  #top-jumbo .left-side .info-container h1 {
    font-size: 3.5rem;
  }

  #top-jumbo .left-side .info-container p {
    font-size: 1.2rem;
  }

  #top-jumbo .left-side .info-container .email-area {
    width: 100%;
    float: left;
  }

  #top-jumbo .left-side .info-container .email-area .far {
    position: relative;
    top: 17px;
    margin-left: 0;
    float: left;
    width: 15%;
    text-align: center;
  }

  #top-jumbo .left-side .info-container .email-area input[name="email"] {
    width: 50%;
    float: left;
    position: relative;
    top: 10px;
    text-align: center;
    font-size: 1rem;
  }

  #top-jumbo .left-side .info-container .email-area button {
    width: 35%;
    padding: 20px 30px;
  }

  #top-jumbo .right-side {
    width: 100%;
  }

  #top-jumbo .right-side img {
    top: 0px;
    width: 100%;
  }
}

/* IPHONE 5 (vertical) */
@media only screen and (max-width: 320px) {
  #top-jumbo .left-side .info-container h1 {
    font-size: 2.9rem;
  }

  #top-jumbo .left-side .info-container .email-area .far {
    position: relative;
    top: 13px;
    margin-left: 0;
    float: left;
    width: 15%;
    text-align: center;
  }

  #top-jumbo .left-side .info-container .email-area button {
    width: 35%;
    padding: 20px 25px;
  }
}
